.container {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  gap: 20px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  cursor: move;
}

.targets {
  display: flex;
  gap: 20px;
}

.target {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px dashed black;
}

.target.matched {
  border-color: green;
}
